<!DOCTYPE html>
<html>
<head>
	<title>Speiserdj Admin Page</title>
	<style type="text/css">
		#padding {
			padding: 10px;

		}
		tr td {
			
			
		}
	</style>
</head>
<body>

<header>This is the admin page</header>

	<ul>	
		<li><a href="/adminpanel/newpost">Post to home</a></li>
		<li><a href="/adminpanel/users">Users</a></li>
		<li><a href="/adminpanel/newsletters">Newsletter E-mails</a></li>
	</ul>
	




<div>


</div>
	

</body>
</html>